<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
          
          <th scope="col">CarName</th>
          <th scope="col">CustomerName</th>
          <th scope="col">RentalDate</th>
          <th scope="col">ReturnDate</th>
        </tr>
      </thead>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.carName}}</td>
        <td>{{rental.customerName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
</table>
