<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<!-- <div class="row">
  <div *ngFor="let car of cardetails" class="myCard p-3 col-md-4">
      <div class="card">
          <img [src]="SetImage(car)" width="" class="card-img-top myimg" alt="...">
          <div class="card-body">
              <h5 class="card-title">{{car.carName}}</h5>
              <p class="card-text">Araç bilgileri için detay butonuna tıklayınız.</p>
              <a href="cars/cardetails/{{car.id}}" class="btn btn-primary float-end">Detay</a>
          </div>
      </div>
  </div>
</div> -->
<app-car-filter></app-car-filter>
<div class="mb-3">
  <label for="filterBrandText" class="form-label">Marka ile ara</label>
  <input type="text" class="form-control" [(ngModel)]="filterBrandText" id="filterBrandText" placeholder="arama ifadesi girin">
</div>

<table class="table table-dark">
    <thead >
        <tr>
          <th scope="col">Araba</th>
          <th scope="col">Marka</th>
          <th scope="col">Renk</th>
          <th scope="col">Günlük Ücreti</th>
          <th scope="col">KDV Dahil</th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let car of cardetails|carDetailFilter:filterBrandText">
        <td (click)="getDetail(car.id)"  routerLink="/cardetails/{{car.id}}" >{{car.carName}}</td>
        <td>{{car.brandName|uppercase}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.dailyPrice| vatAdded:18}}</td>
        <td> <button type="button"  routerLink="cars/cardetails/{{car.id}}" class="btn btn-success">Detay</button>  </td>
    </tr>
    </tbody>
</table>

<!-- <table class="table table-dark table-striped table-hover">
  <thead >
    <tr>
      <th scope="col">Araba</th>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Günlük Ücreti</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>

</table> -->

<app-car-images-add></app-car-images-add>